<% github_repository = GitHubRepository.new(client, assignment_repo.github_repo_id) %>

<li class="clearfix">
  <%= octicon 'repo' %>
  <strong><%= link_to github_repository.full_name, stafftools_assignment_repo_path(assignment_repo.id) %></strong>
</li>
