<li class="clearfix">
  <%= octicon 'organization' %>
  <strong><%= link_to group.title, stafftools_organization_grouping_group_path(group.organization.id, group.grouping.id, group.id) %></strong>
</li>
