<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      Classrooms
      <% if @organizations.present? %>
        <%= link_to new_organization_path, class: 'btn btn-green float-right', role: 'button' do %>
          New classroom
        <% end %>
      <% end %>
    </h2>
  </div>

  <div class="site-content-body organization-list-items">
    <% if @organizations.present? %>
      <%= render @organizations %>
      <%= render partial: 'shared/pagination', locals: { collection: @organizations } %>
    <% else %>
      <div class="blankslate blackslate-spacious large-format clean-background">
        <h3>You’re not managing any classrooms yet.</h3>
        <p>You can begin creating assignments once you have at least one classroom.</p>

        <%= link_to new_organization_path, class: 'btn btn-green btn-big', role: 'button' do %>
          Create your first classroom
        <% end %>
      </div>
    <% end %>
  </div>
</div>
