<li class="clearfix">
  <%= octicon 'organization' %>
  <strong><%= link_to group_assignment.title, stafftools_organization_group_assignment_path(group_assignment.organization_id, group_assignment.id) %></strong>
</li>
